[Desktop Entry]
Name=VMware Workstation
Type=Application
Comment=VMware Workstation
Comment[pl]=VMware Workstation
Exec=vmware
Icon=VMware-workstation
Terminal=false
Categories=Utility;Emulator;
# vi: encoding=utf-8
